.all {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    padding-top: 80px;
}

/* Card sobre o usuario */
.CardUsuario {
    background-color: #ff914d;
    justify-content: left;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 10px;
    margin: 20px auto;
    border-radius: 25px;
}

.Usuario {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.FotoPerfil {
    width: 100%;
    max-width: 220px;
    height: auto;
    border: solid #ef5b00;
    border-radius: 5%;
    margin-bottom: 10px;
}

.h1Titulo {
    text-align: center;
}

.h3Nivel {
    text-align: center;
    color: aliceblue;
    margin-bottom: 30px;
}

.Lista {
    list-style-type: none;
    font-size: 16px;
}

.h3Sobre {
    text-align: center;
    color: aliceblue;
    margin-top: 10px;
}

.pSobre {
    padding: 10px;
}

/* Navbar dos itens do perfil */
.navbarPerfil {
    margin: 50px auto 0 auto;
    background-color: #ff6a007d;
    padding: 20px;
    width: 40vw;
    max-width: 800px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ulUsuario {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.li {
    color: black;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
    text-transform: uppercase;
    background: none;
    border: none;
    font-size: 16px;
}

.li:hover {
    color: #ffffff;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.ativo {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: #ffffff;
}

.Sair {
    background-color: #ff0d00;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.Sair:hover {
    background-color: #ef5b00;
}

/* Responsividade */
@media (max-width: 700px) {
    .all{
        padding: 10px;
        padding-top: 80px;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }

    .CardUsuario {
        width: 100%;
        margin: 20px 0;
    }

    .navbarPerfil {
        width: 100%;
        padding: 15px;
    }

    .ulUsuario {
        gap: 10px;
    }

    .li {
        font-size: 14px;
    }

    .Sair {
        font-size: 14px;
        padding: 5px 10px;
    }
}

@media (max-width: 480px) {
    .FotoPerfil {
        max-width: 150px;
    }

    .h1Titulo, .h3Nivel, .h3Sobre {
        font-size: 18px;
    }

    .Lista {
        font-size: 14px;
    }

    .Sair {
        font-size: 12px;
        padding: 5px 8px;
    }
}