.autorsContainer {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 20px auto;
}
.itemCardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

.itemCard {
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  width: 30%;
}
.itemCard img{
  width: 100%;
}
.homeSection {
  font-family: "Open Sans", sans-serif;
  display: flex;
  color: white;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  background: none;
  margin-bottom: 20px;
  gap: 65px;
}
.homeSection h1{
  font-size: 8em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.homeSection a{
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    transition: 100ms;
}


@keyframes clarear {
  0%{
    filter: blur(4px) brightness(0);
  }
  100%{
    filter: blur(4px) brightness(.9);
  }
}
.homeSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: -20px;
  width: calc(100% + 40px);
  height: calc(100% + 10px);
  background: url(/public/bg1.jpg);
  background-size: 100%;
  transform: translateY(-10px);
  background-position: center;
  filter: blur(4px) brightness(0.9);
  animation: clarear 3s;
  z-index: -1;
  background-size: cover;
}
.itemCard:hover {
  transform: scale(1.05);
}
.exploreSection{
  padding-top: 20px;
}
@media (max-width: 700px) {
  .itemCardContainer {
    flex-direction: column;
  }
  .itemCard {
    width: 80%;
    margin-bottom: 20px;
  }
  .homeSection h1 {
    font-size: 2.5em;
  }
  .homeSection a {
    font-size: 1.2em;
  }
  .exploreSection{
    padding-top: 0;
  }
}