.sideBar{
    position: absolute;
    width: 30%;
    left: 0;
    height: 0;
    top: 65px;
    background-color: #ff914d;
    display: flex;
    flex-direction: column;
    transition: height 250ms;
    z-index: 3;
    visibility: hidden;
    border-radius: 20px;
    overflow: auto;
}
.sideBar.show{
    display: flex;
    height: calc(100vh - 120px);
    visibility: visible;
}
.sidebarItem{
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 1.4em;
    gap: 10px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    transition: 100ms;
}
.sidebarItem:hover{

    color: yellow;
    background-color: #a04e1b;
}
.sidebarItem:last-child{
    margin-top: auto;
    margin-bottom: 20px;
    border-top: 1px solid #000;
}